:root {
	--cell-size: 25px;
	--board-size: calc(var(--cell-size) * 10);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: url(./assets/page_background.png);
	background-size: cover;
	overflow: hidden;
}

.game {
	height: 90%;
	/* width: 90%; */
	margin: auto;
	background-image: url("./assets/open_notebook.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	grid-template-columns: 1fr 7% 1fr;
	aspect-ratio: 14.4 / 9;
	padding-bottom: 5%;
}

.cell {
	border: 1px solid black;
	opacity: 0.3;
}

.grid {
	width: var(--board-size);
	height: var(--board-size);
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
}

.grid .ship {
	animation: moveShip 1s infinite;
	animation-timing-function: step-end;
}

.ships.grid .ship.sunk {
	opacity: 0.4;
	animation: none;
}

.ship {
	transition: opacity 0.5s;
}

.ship-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ship-image.rotated {
	transform-origin: calc(var(--cell-size) / 2) calc(var(--cell-size) / 2);
	transform: rotate(90deg);
}

.ship-image.length-2 {
	background-image: url("./assets/ship_length_2.png");
}

.ship-image.length-3 {
	background-image: url("./assets/ship_length_3_a.png");
}

.ship-image.length-4 {
	background-image: url("./assets/ship_length_4.png");
}

.ship-image.length-5 {
	background-image: url("./assets/ship_length_5.png");
}

.player-area {
	display: grid;
	grid-template-rows: 3.5fr 1fr;
	align-items: center;
	justify-items: center;
	background-size: 85%;
	background-position: center;
	background-repeat: no-repeat;
}

.player-area.player-2 {
	grid-column-start: 3;
}

.boards {
	width: var(--board-size);
	height: var(--board-size);
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	animation: changeBoardBackground 0.5s infinite;
	background-size: cover;
}

.boards > div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.board-buttons-area {
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	justify-content: space-around;
}
.board-buttons-area button {
	width: 80px;
	height: 35px;
	background: none;
	border: none;
	outline: none;
	font-size: 1.4rem;
}

.button-container {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
	padding-top: 15px;
	transition: opacity 0.8s;
}
.hovering {
	transform: scale(1.1) rotate(3deg);
}

#start.hovering {
	transform: scale(1.1) rotate(-5deg);

.board-buttons-area :first-child {
	background-image: url("./assets/button_background.png");
}

.board-buttons-area :last-child {
	background-image: url("./assets/button_background_2.png");
}

.disabled {
	filter: brightness(75%);
}

.ships-area {
	width: 18%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	position: absolute;
	top: 0;
	left: -20%;
	background-image: url("./assets/ships-container-background.png");
	background-size: contain;
	background-position: center left;
	background-repeat: no-repeat;
	transition: left 0.5s;
}

.ships {
	z-index: 3;
}

.player-2 .ship {
	opacity: 0;
.attacks {
	z-index: 2;
}

.attack {
	align-self: center;
	justify-self: center;
	width: var(--cell-size);
	height: var(--cell-size);
	animation: changeAttackBackground 1s infinite;
	background-size: cover;
}
.player-area.winner {
#start {
	width: 400px;
	height: 80px;
	position: absolute;
	top: 82%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	background-image: url("./assets/ruler.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	transform: rotate(-4deg);
	color: white;
	font-size: xx-large;
}
}
	background-image: url("./assets/victory.png");
}
.player-area.loser {
	background-image: url("./assets/defeat.png");
}
@keyframes changeBoardBackground {
	0%,
	100% {
		background-image: url("./assets/water1b.png");
	}
	33% {
		background-image: url("./assets/water2b.png");
	}
	66% {
		background-image: url("./assets/water3b.png");
	}
}

@keyframes changeAttackBackground {
	0%,
	100% {
		background-image: url("./assets/explosion1.png");
	}
	33% {
		background-image: url("./assets/explosion2.png");
	}
	66% {
		background-image: url("./assets/explosion3.png");
	}
}

@keyframes moveShip {
	0%,
	100% {
		transform: rotate(0deg);
	}
	20%,
	80% {
		transform-origin: right;
		transform: rotate(1deg);
	}
	40% {
		transform-origin: left;
		transform: rotate(-1deg);
	}
	60% {
		transform: rotate(2deg);
	}
}
